@font-face {
    font-family: "Poppins-Header";
    src: url("fonts/Poppins-Black.ttf");
}
@font-face {
    font-family: "Poppins-Navigation";
    src: url("fonts/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: "Poppins-Regular";
    src: url("fonts/Poppins-Regular.ttf");
}

.centered-content {
    margin-left: 150px;
    margin-right: 250px;
    background-color: grey;
}
nav {
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    width:100%;
    background-color: #E0B863;
}
h1,h2,h3 {
    font-family: Poppins-Header, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
}

li {
    overflow: hidden;
    margin: 0;
    text-align: center;
    display: inline-block;
}
li a {
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    font-family: Poppins-Navigation, sans-serif;
    display: inline-block;
    color: #ffffff;
    border-color: black;
    text-align: center;
    padding: 20px 20px 30px 20px;
}
li img {
    vertical-align: middle;
}
li a:active {
    color: blue;
}



li a:visited {
    color: red;
}


li a:hover {
    color: grey;
}



#up {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
aside {
    position: sticky;
    top: 100px;
    background: #f62222;
    padding: 10px;
    width: 200px;
    float: right;
    border-radius: 50px;
    border-style: dotted;
}
body {
    margin: 0 0 0 0;
    background-color: #f55252;
}
pre {
    font-family: Poppins-Regular, serif;
}

footer {
    border-top-style: solid;
    border-top-color: black;
    text-align: center;
}
#hyper_link_block {
    position: relative;
    bottom: 60px;
    font-size: 20px;
    overflow: hidden;
}
#hyper_link_block img {
    float: left;

}

dl {
    display: inline;

}

dt {
    display: block;
    text-decoration-style: wavy;

}
dd {
    display: inline-block;
}