@font-face {
    font-family: "Poppins-Header";
    src: url("fonts/Poppins-Black.ttf");
}
@font-face {
    font-family: "Poppins-Navigation";
    src: url("fonts/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: "Poppins-Regular";
    src: url("fonts/Poppins-Regular.ttf");
}
nav {
    border-style: solid;
    background-color: #E0B863;
}
h1,h2,h3 {
    font-family: Poppins-Header, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
}

li {
    float: left;
    overflow: hidden;
    text-align: center;

}
li a {
    border-width: 2px;
    border-style: solid;
    font-family: Poppins-Navigation, sans-serif;
    display: block;
    color: #ffffff;
    border-color: black;
    text-align: center;
    padding: 20px 20px 30px 20px;
    text-decoration: none;
}
li img {
    vertical-align: middle;
}
li a:active {
    color: blue;
}



li a:visited {
    color: red;
}


li a:hover {
    background-color: grey;
}

.active {
    background-color: darkorange;
}


aside {
    background: #f62222;
    padding: 10px;
    width: 200px;
    float: right;
    border-radius: 50px;
    border-style: dotted;
}
body {
    margin: 0 0 0 0;
    background-color: #f55252;
}
pre {
    font-family: Poppins-Regular, serif;
}

footer {
    border-top-style: solid;
    border-top-color: black;
    text-align: center;
}